@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


@keyframes pop {
    0% {
        transform: scale(1.0);
    }

    25% {
        transform: scale(1.05);
    }


    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1.2);
    }
}


body {
    font-family: 'Noto Sans KR', sans-serif;
}

.typing-txt {
    display: none;
}

.typing ul li {
    display: block;
}

.typing ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000
    }

    100% {
        border-right: 1px solid #fff
    }
}

/*mobile*/
@media only screen and (max-width:480px) {

    body {
        overflow-x: hidden;
    }

    #hamburger-5.is-active {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #hamburger-5.is-active .line:nth-child(2) {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #hamburger-5 .line:nth-child(2) {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }


    #hamburger-5.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-5.is-active .line:nth-child(1),
    #hamburger-5.is-active .line:nth-child(3) {
        width: 8vw;
        height: 0.8vh;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
    }

    #hamburger-5.is-active .line:nth-child(1) {
        -webkit-transform: translateY(15px) rotate(45deg);
        -ms-transform: translateY(15px) rotate(45deg);
        -o-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }

    #hamburger-5.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-15px) rotate(-45deg);
        -ms-transform: translateY(-15px) rotate(-45deg);
        -o-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }

    .hamburger .line {
        width: 10vw;
        height: 5px;
        background-color: #333;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .row .three {
        /*        padding: 20px 30px;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        /*        color: #ecf0f1;*/
        text-align: center;
    }

    .cf:before,
    .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        *zoom: 1;
    }

    header {
        width: 100%;
        position: fixed;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #333;
        /*        mix-blend-mode: difference;*/
    }

    header .logo {
        margin-left: 3vw;
        margin-top: 4px;
        width: 150px;
        height: 80px;
    }

    header nav {
        display: none;
    }

    header nav.active {
        display: block;
    }

    header nav ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        z-index: 10;
        display: flex;
        background-color: #333;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    header nav ul li {
        display: none;
        display: block;
        text-align: center;
        margin: 5vh 0;
        /*        margin-left: 10vw;*/
    }

    header nav ul li a {
        color: #fff;
    }


    header nav pf-dmt-sub {
        display: none;
    }

    header .navBtn {
        width: 30vw;
        height: 5vw;
        margin-top: 3vh;
        display: block;
        z-index: 30;
        mix-blend-mode: difference;
    }

    section {
        width: 100vw;
        height: 105vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }

    /*about*/

    section:nth-child(5),
    section:nth-child(6) {
        background-color: #ded8d1;
    }



    section:nth-child(7) {
        background-color: #e8e8e8;
    }

    section:nth-child(8) {
        background-color: #67aba0;
    }

    section:nth-child(9) {
        background-color: #86b3ff;
    }

    section:nth-child(10) {
        background-color: #f27b7c;
    }

    section:nth-child(11) {
        background-color: #837a71;

    }

    .container {
        width: 80vw;
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 100vh;
    }

    .container.active {
        margin-top: 0vh;
        transition: 1s all;
    }

    section .Left {
        align-self: center;

    }

    section .Left img {
        width: 100%;
    }

    #page1 .Left img {
        width: 40%;
    }



    section:nth-child(4) .Left img {
        width: 23vw;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
        cursor: auto;
    }


    .Right {
        box-sizing: border-box;
        border: 1px solid #555;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        margin-top: 0;
    }

    section .Right h3 {
        border-bottom: 1px solid #333;
        font-size: 6vw;
        white-space: nowrap;
    }

    section .Right h5 {
        white-space: nowrap;

    }


    #page1 .Right {
        height: 60vh;
        margin-top: 5vh;
    }

    section:nth-child(4) .Right p {
        font-size: 3vw;
    }

    section .Right p {
        font-size: 4vw;
        text-align: center;
        line-height: 24px;
        white-space: nowrap;
    }



    #page0 {
        position: relative;
        margin: 0 auto;
        background-image: url(../img/bafterglow.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #page0:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    }


    #page0 .introduce {
        /*        width: 60vw;*/
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    #page0 li {
        color: white;
        font-weight: bold;
        font-size: 4vw;
    }

    section .Right a {
        width: 20vw;
        height: 3vh;
        font-size: 3vw;
        text-align: center;
        line-height: 3vh;
        background-color: white;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
    }

    section .Right a:hover {

        filter: opacity(0.3);
        transition: 0.5s all;
    }


    /*footer*/
    section:last-child {
        height: 60vh;
        justify-content: center;
        align-self: flex-end;
        background-color: #735d4b;
    }

    
    #page1 .Right .about-skill {
        display: flex;
        flex-flow: row wrap;
        width: 40vw;
        justify-content: space-around;
        align-content: space-around;

    }

    #page1 .skill-content {
        width: 11vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #page1 .skill-content p {
        font-size: 0.5vw;
    }

    #page2 {
        padding-top: 10vh;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(2, 16vh);
        align-content: space-around;
        justify-content: space-around;
    }

    #page2 a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 25vw;
        height: 25vh;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        background: rgba(240, 230, 220, .7);
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    }

    #page2 a:hover {
        animation: pop 0.3s ease-in 1 forwards;
    }

    section .footer_wrap {
        align-self: center;
        padding-left: 5%;
        width: 100vw;
        height: 40vh;
        background-color: #333;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        -moz-box-shadow: 0.1px 20px 1cm 3px #111;
        -webkit-box-shadow: 0.1px 20px 1cm 3px #111;
        box-shadow: 0.1px 20px 1cm 3px #111;
        text-align: center;
    }

    section:last-child p,
    section:last-child h3 {
        color: aliceblue;
        font-size: 3vw;
    }

    section:last-child p:nth-child(3) {
        text-decoration-line: underline;
    }

    section:last-child p:nth-child(5) {
        text-decoration-line: underline;
    }

    section:last-child a {
        color: skyblue;
        display: inline;
    }

    .up {
        position: fixed;
        bottom: 3vh;
        right: 3vw;
        border-radius: 0;
        background-color: #fff;
        overflow: hidden;
        width: 10vw;
        height: 10vw;
        display: none;
        line-height: 10vw;
        text-align: center;
        font-size: 12px;
    }

    .up.active {
        display: block;
    }

    .particle_wrap {
        display: none;
    }

    .stop {
        display: none;
    }

    .dark_btn {
        display: none;
    }

}




/*pc*/
@media screen and (min-width:481px) {

    body {
        background: #ded8d1;
    }

    header {
        width: 100%;
        position: fixed;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: transparent;
        mix-blend-mode: difference;
    }

    header .logo {
        margin-left: 3vw;
        margin-top: 4px;
        width: 150px;
        height: 80px;
    }

    header nav ul {
        width: 30vw;
        height: 100%;
        margin: 0 auto;
        margin-top: -3px;
        display: flex;
        font-weight: 500;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }




    header nav ul li:last-child {
        padding-right: 3vw;
    }



    header nav > ul > li {
        display: block;
        font-size: 18px;
    }

    header nav > ul > li > a {
        color: azure;
    }

    header nav > ul > li > a:after {
        display: block;
        width: 0;
        border-bottom: none;
    }

    header nav > ul > li > a:hover {
        color: crimson;
    }

    header nav > ul > li > a:hover :after {
        width: 100%;
        border-bottom: 1px solid #333;
        transition: 0.3s all;

    }


    header nav .pf-dmt-sub {
        width: 8vw;
        height: 30vh;
        top: 60px;
        left: 78vw;
        display: none;
        position: absolute;
        background-color: transparent;
        z-index: 10;
        font-size: 1vw;
        line-height: 10px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;

    }

    header nav .pf-dmt-sub li a {
        text-align: center;
        margin-top: 10px;
        color: white;
    }

    header nav .pf-dmt-sub li:last-child {
        padding-right: none;
    }





    /*모바일용*/
    header .navBtn {
        display: none;
    }

    section {
        width: 100vw;
        height: 110vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

    }


    section:nth-child(7) {
        background-color: #e8e8e8;
    }

    section:nth-child(8) {
        background-color: #67aba0;
    }

    section:nth-child(9) {
        background-color: #86b3ff;
    }

    section:nth-child(10) {
        background-color: #f27b7c;
    }

    section:nth-child(11) {
        background-color: #837a71;

    }


    .container {
        width: 30vw;
        height: 60vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 100vh;
    }

    .container.active {
        margin-top: 0vh;
        transition: 1s all;
    }

    section .Left {
        margin-right: 15vw;
        align-self: center;
    }

    section .Left img {
        width: 120%;
        cursor: pointer;

    }


    section .Left img:hover {
        animation: pop 0.3s ease-in 1 forwards;

    }


    section:nth-child(4) .Left img {
        width: 23vw;
        /*        height: 41vh;*/
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
        cursor: auto;
    }


    .Right {
        margin-left: 0vw;
        padding: 3vh 3vw;
        box-sizing: border-box;
        border: 2.52mm solid #555;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-self: center;
    }

    section .Right h3 {
        border-bottom: 1px solid #333;
        font-size: 2.4vw;
        white-space: nowrap;
    }

    section .Right h5 {
        white-space: nowrap;
        text-align: center;
    }

    section .Right p {
        font-size: 1.2vw;
        text-align: center;
        line-height: 1.44vw;
        white-space: nowrap;
    }




    /*plz*/
    #page0 {
        position: relative;
        margin: 0 auto;
        background-image: url(../img/bboke.jpg);
        background-color: white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 4;
    }

    #page0:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    }



    #page0 .introduce {
        width: 36vw;
        position: absolute;
        left: 32vw;
        top: 15vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /*        margin-top: 100vh;*/
    }

    .introduce_link p {
        left: 50%;
        top: 50%;
        width: 30px;
        height: 18px;
        overflow: hidden;

    }


    #page0 .introduce_link {
        width: 70%;
        text-align: center;
        color: aliceblue;
        font-size: 1.4vw;
    }

    #page0 .introduce_link img {
        mix-blend-mode: difference;

    }

    #page1 p {
        font-size: 12px;
        line-height: 14.4px;
    }
    #page1 .Left img {
        width: 80%;
    }

    #page1 .right>p {
        
        
    }
    #page1 .Right .about-skill {
        display: flex;
        flex-flow: row wrap;
        width: 15vw;
        justify-content: space-around;
        align-content: space-around;
    }
    
    #page1 .skill-content {
        width: 45px;
        margin-top: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

    }
    #page1 .Right .about-skill img {
        width: 45px;
        margin: 0 auto;
    }

    #page1 .skill-content p {
        opacity: 0;
        transition: 0.1s all;
    }


    #page1 .skill-content:hover {
        animation: pop 0.3s ease-in 1 forwards;

    }

    #page1 .skill-content:hover p {
        opacity: 1;
        transition-delay: 0.5s all;
    }



    #page1 .skill-content:nth-child(1),
    #page1 .skill-content:nth-child(2),
    #page1 .skill-content:nth-child(3) {
        width: 4.8vw;
    }


    #page2 {
        width: 100vw;
        height: 115vh;
        display: grid;
        grid-template-rows: repeat(2, 30vh);
        grid-template-columns: repeat(3, 25vw);
        align-content: space-around;
        justify-content: space-around;
    }

    #page2 a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: center;
        /*        width: 25vw;*/
        height: 30vh;
        padding: 1vw;
        border-radius: 5px;
        background: rgba(240, 230, 220, .3);
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    }

    #page2 a:hover {
        animation: pop 0.3s ease-in 1 forwards;
    }

    section .Right a {
        width: 4vw;
        height: 3vh;
        font-size: 1vw;
        text-align: center;
        line-height: 3vh;
        margin-top: 1vh;
        padding: 0 5%;
        background-color: white;
        /*        border-radius: 50%;*/
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
        /*overflow: hidden;*/
        white-space: nowrap;
    }

    section .Right a:hover {

        filter: opacity(0.3);
        transition: 0.5s all;
    }



    /*footer*/
    section:last-child {
        height: 60vh;
        justify-content: flex-end;
        align-self: flex-end;
        background-color: transparent;
        position: relative;

    }

    section:last-child:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
    }



    section .footer_wrap {
        /*        justify-self: end;*/
        align-self: center;
        width: 30vw;
        margin: 0 auto;
        height: 50vh;
        background-color: #464646;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        border: 2.52mm solid #333;
        z-index: 1;
    }

    section:last-child p,
    section:last-child h3 {
        color: aliceblue;
        text-align: center;
    }


    section:last-child a {
        color: skyblue;
        display: block;
        margin: 0 auto;
    }

    .up {
        position: fixed;
        bottom: 3vh;
        right: 3vw;
        border-radius: 100%;
        background-color: #fff;
        width: 2vw;
        height: 2vw;
        line-height: 2vw;
        display: none;
        text-align: center;
        font-size: 1.2vw;
        z-index: 100;
    }


    .up.active {
        display: block;
    }

    .up:hover {

        cursor: pointer;
        color: white;
        background-color: #333;
        transition: 0.5s all;
    }

    .particle_wrap {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .particle_wrap.active {
        display: none;
    }

    .stop {
        position: fixed;
        bottom: 10vh;
        right: 3vw;
        width: 2vw;
        height: 2vw;
        font-size: 1.2vw;
        display: block;
        background-color: black;
        color: aliceblue;
        line-height: 2vw;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }

    .stop:hover {
        color: black;
        border-radius: 0;
        background-color: #fff;
        transition: 0.5s all;
    }

    .dark_btn {
        position: fixed;
        bottom: 3vh;
        right: 7vw;
        width: 6vw;
        height: 2vw;
        font-size: 1vw;
        font-weight: 100;
        display: block;
        background-color: transparent;
        line-height: 2vh;
        text-align: center;
        cursor: pointer;
        z-index: 3;
    }






}
